*{
  margin:0px;
  padding:0px;
}

body{
  background-color: black;
  color: white;
}

.header-icon{
  background-color: rgb(171, 160, 160);
  padding: 20px;
  padding-left: 9px;
  height: 40px;
  width:40px;
  border-radius: 50%;
}

.tile{
  background-color: rgba(65, 60, 60, 0.664) !important;
  border-radius: 10px;
}

.vertical-icons:hover{
  color: blue;
  cursor: pointer;
}